@use "variables" as *;
@use "mixins" as *;
@use "reset";
@use "typography";

:root {
  color-scheme: dark;
}

body {
  background-color: $bg-marketing;
  color: $text-marketing;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
